<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-header/> <!-- Header Component -->
<main>
  <ul id="users">
    @for(user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)"/>
    </li>
  }
  </ul>
@if(selectedUser){
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
  Tasks of that user 
}@else {
  <p id="fallback">select a user to see their tasks </p>
}
</main>

